
  <head>

    <title>Video Streaming Demonstration</title>
  </head>
  <body>
     <h2>{{diocane}} </h2>
    <h2>
    <p align="center" id="Stream" ><img src="{{ url_for('video_feed') }}"> </p>
       <!-- static perchè in flask i css, le immagini, devono essere inseriti in una cartella chiamata 'static'-->

   <div align="center" id="prova"></div>


     <p align="center "><input  value="Scatta foto " type="button" style="height: 50px; width: 200px;" onclick="onScatta()" type="button" align="right" /></p>
     <p align="center "><input  value="Analizza " type="button" style="height: 50px; width: 200px;" onclick="onAnalizza()" type="button" align="right"/></p>


   </h2>
  <h2 align="center" id="vdim"> </h2>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
     <script>


//var name = document.getElementById("input").value;
var i = 0;
function onScatta() {
//var name = document.getElementById("input").value;
document.getElementById("Stream").style.display = "none";
  $.post("/takeimage",
   {
     name: "cliccatotake"
   },
   function(data){
          document.getElementById("prova").innerHTML = "<img src='{{ url_for('static',filename='img/result.png') }}\'>";
          document.getElementById("vdim").innerText= data.value;

   });
}
function onAnalizza(){

}


</script>
  </body>

